description = "Campaigns Section"

[viewBag]
snippetCode = "campaigns-section"
snippetName = "Campaigns Section"
==

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">
        <div class="row content">
	        <div data-aos="fade-right">

            <h2 style="text-align: center;">Our Recent Campaigns</h2>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Social Works</li>
              <li data-filter=".filter-card">BP Legacy</li>
              <li data-filter=".filter-web">Youth Support</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{ 'assets/images/campaigns/rsf-logo-01.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Rasal Solidarity Fund</h4>
              <p>A Financial Program to support members</p>
              <a href="{{ 'assets/images/campaigns/rsf-logo-01.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{ 'assets/images/campaigns/foulard-02.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>One Scout, One Scarf</h4>
              <p>RASAL launched a campaign to get one scarf for one scout in Gasabo District</p>
              <a href="{{ 'assets/images/campaigns/foulard-02.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{ 'assets/images/campaigns/musanze-2-02.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Health Insurance</h4>
              <p>Musanze Health Insurance Donation</p>
              <a href="{{ 'assets/images/campaigns/musanze-2-02.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{{ 'assets/images/campaigns/legacy-night-sm.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>BP Legacy Week</h4>
              <p>Baden Powell Legacy Night</p>
              <a href="{{ 'assets/images/campaigns/legacy-night-sm.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{ 'assets/images/campaigns/walk-to-remember-03.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>In Memoriam</h4>
              <p>Work to remember in Muhanga District</p>
              <a href="{{ 'assets/images/campaigns/walk-to-remember-03.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{{ 'assets/images/campaigns/musanze-02.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Social Work</h4>
              <p>Musanze Clothes Donation</p>
              <a href="{{ 'assets/images/campaigns/musanze-02.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{{ 'assets/images/campaigns/rasal-nyeri.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Trip to Nyeri</h4>
              <p>RASAL pays tribute to Baden Powell</p>
              <a href="{{ 'assets/images/campaigns/rasal-nyeri.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <img src="{{ 'assets/images/campaigns/hiking-02.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Hiking Adventure</h4>
              <p>BP Legacy Week Hiking in Kigali Mountain</p>
              <a href="{{ 'assets/images/campaigns/hiking-02.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{{ 'assets/images/campaigns/tanzania-01.jpg'|theme }}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Scouting Support</h4>
              <p>Assistance to the trip to Tanzania</p>
              <a href="{{ 'assets/images/campaigns/tanzania-01.jpg'|theme }}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
