description = "Rasal in numbers"

[viewBag]
snippetCode = "counts"
snippetName = "Rasal in numbers"

==
<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
  <div class="container">
        <div class="row content">
	        <div data-aos="fade-right">

            <h2 style="text-align: center;">RASAL in numbers</h2>
          </div>
        </div>
    <div class="row">
      <div
        class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-xl-start"
        data-aos="fade-right"
        data-aos-delay="150"
      >
        <img
          src="{{ 'assets/images/numbers/ga-st-paul-01.png'|theme }}"
          alt=""
          class="img-fluid"
        />
      </div>

      <div
        class="col-xl-7 d-flex align-items-stretch pt-4 pt-xl-0"
        data-aos="fade-left"
        data-aos-delay="300"
      >
        <div class="content d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-people"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="1200"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>People helped</strong> through health insurance and clothes distribution.
                </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-journal-richtext"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="4"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Projects</strong> currently in implementation, defining the future of youth.
                </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-clock"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="5"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Years of experience</strong> doing remarkable works to empower youth.
                </p>
              </div>
            </div>

            <div class="col-md-6 d-md-flex align-items-md-stretch">
              <div class="count-box">
                <i class="bi bi-person"></i>
                <span
                  data-purecounter-start="0"
                  data-purecounter-end="70"
                  data-purecounter-duration="1"
                  class="purecounter"
                ></span>
                <p>
                  <strong>Members</strong> located all over the five continents actively implicated in our causes.
                </p>
              </div>
            </div>
          </div>
        </div>
        <!-- End .content-->
      </div>
    </div>
  </div>
</section>
<!-- End Counts Section -->
